<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@
    5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIc
    aT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="col-md-12 col-md-offset-2">

        <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Minutes</th>
                    <th>Number of Steps</th>
                    <th>Number of Ingredients</th>

                </tr>

                <% recipes.forEach(recipe=> {

                    %>

                    <tr>
                        <td>
                            <%= recipe.id %>
                        </td>
                        <td>
                            <%= recipe.name %>
                        </td>
                        <td>
                            <%= recipe.minutes %>
                        </td>
                        <td>
                            <%= recipe.n_steps %>
                        </td>
                        <td>
                            <%= recipe.n_ingredients %>
                        </td>

                        <!-- <td class="text-center"><a class='btn btn-info btn-xs'
                                href="/tasters/update/<%= taster.id %>"><span class="glyphicon glyphicon-edit"></span>
                                Edit</a>
                            <a href="/tasters/delete/<%= taster.id %>" class="btn btn-danger btn-xs"><span
                                    class="glyphicon glyphicon-remove"></span> Del</a>
                        </td> -->

                    </tr>

                    <% }); %>



            </thead>

        </table>


    </div>
</body>

</html>